@model List<BoVoyage.Scenario1.Dal.Dossier>

@{
    ViewBag.Title = "Dossiers";
}

<h2>Dossier</h2>

<body>
    <ul>
        @{
            //<li>@Model.Count()</li>;
            foreach (var v in Model)
            {

                if (v.Commercial != null)
                {
                    <li>
                        <hr />
                        @v.Client1.Nom | @v.Voyage1.Libelle | @ViewBag.DossEnum.@v.Etat  |  @v.Employe.Login | @Html.ActionLink("Affecter/Changer Commerical", "AffecterCommercial", new { id = v.Id })
                    </li>
                }
                else
                {
                    <li>
                        <hr />
                        @v.Client1.Nom | @v.Voyage1.Libelle | @ViewBag.DossEnum.@v.Etat  | @Html.ActionLink("Affecter/Changer Commerical", "AffecterCommercial", new { id = v.Id })
                    </li>
                }


            }
        }
    </ul>
    <br />
    <p>
        @Html.ActionLink("Back to Menu", "Index2")
    </p>
</body>
</html>
