<!DOCTYPE html>

<style>
    .taille {
        width: 100%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }
</style>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <img src="~/photo/corse.jpeg" class="taille" />
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <input type="checkbox" id="checkbox1" value="option1">
                    <label class="form-check-label" for="checkbox1">Amerique du Sud</label>
                    <input type="checkbox" id="checkbox2" value="option2">
                    <label class="form-check-label" for="checkbox2">Afrique</label>
                    <input type="checkbox" id="checkbox3" value="option3">
                    <label class="form-check-label" for="checkbox3">Europe</label>
                    <input type="checkbox" id="checkbox4" value="option4">
                    <label class="form-check-label" for="checkbox4">Asie</label>
                    <input type="checkbox" id="checkbox5" value="option5">
                    <label class="form-check-label" for="checkbox5">Amérique du Nord</label>
                    <input type="checkbox" id="checkbox6" value="option6">
                    <label class="form-check-label" for="checkbox6">Océanie</label>
                </div>
            </div>
        </div>
    </nav>

    <div class="jumbotron" style="background-color:white">
        <h1 class="display-4" style="text-align:center">C-Shark</h1>
        <p class="lead" style="text-align:center">Des voyages complètement maretaux ! </p>
        <img src="~/photo/cshark.png" class="center" />
        <hr class="my-4">
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
