@model List<BoVoyage.Scenario1.Dal.ItemPanier>
@{
    ViewBag.Title = "Confirmation";
}
<p>Reservation de @ViewBag.NomClient</p>

@{
    foreach (var v in Model)
    {
        <h2>Confirmation @v.voyage.Libelle</h2>

        <p>Nombre Voyageurs : @v.nombre_voyageurs</p>

        <p>Prix unitaire : @v.voyage.PrixVenteUnitaire</p>

        if(v.assurance!=null)
        { 
            <p>Prix assurance : @v.assurance.Prix</p>
        }
    }
}

@Html.ActionLink("Valider et Payer", "ValiderPanier")
<br />
@Html.ActionLink("Reserver un autre voyage", "Index")


