@{
    ViewBag.Title = "Devis";
}
@model List<BoVoyage.Donnees.VoyageDetail>

<h3> Calcul du devis : </h3>
<hr />
@{
    foreach (var item in Model)
    {
        var PrixUnitaire = @item.PrixVenteUnitaire;
        <span id="prix">@item.PrixVenteUnitaire</span>
    }
}
<div>
    <table>
        @{
            foreach (var item in Model)
            {
                
                <tr>
                    <td colspan="2">
                        @{ string image = "/Photo/" + @item.Image;}
                        <img src="@image" style="width:85%" /><br /><br />

                    </td>
                    <td align="center">
                        <h3> Date et Horaires de Départ :  @item.DateAller </h3><br />
                        <h3> Date et Horaires de Retour : @item.DateRetour </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1> Pays : @item.Pays</h1>
                        <h2> Continent : @item.Continent </h2>
                    </td>
                </tr>
                <tr>
                    <td rowspan="1">
                        <h4> @item.DescriptionVoyage </h4>
                        <h5> <strong>Description :</strong> @item.DescriptionDestination </h5><br /><br />
                        <h4> Informations complémentaires : </h4>

                        <!--Nombre de place disponible-->
                        <div class="input-group mb-3">
                            <div style="width:40%;" class="input-group-prepend ">
                                <label class="input-group-text " for="NbPlace">Nombre de participant adulte(s) et/ou ado(s) :</label>
                            </div>
                            <select style="width:50%;" class="form-select" id="NbPlace1" name="NbPlace" required>
                                <option selected disabled value="">Nombre d'adulte(s)</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                                <option value=11>11</option>
                                <option value=12>12</option>
                                <option value=13>13</option>
                                <option value=14>14</option>
                                <option value=15>15</option>
                            </select>
                            <div class="invalid-feedback">
                                Veuillez sélectionner un champs.
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div style="width:40%;" class="input-group-prepend ">
                                <label class="input-group-text " for="NbPlace">Nombre de participant enfant(s) ( - 16 ans) :</label>
                            </div>
                            <select style="width:50%;" class="form-select" id="NbPlace2" name="NbPlace" required>
                                <option selected disabled value="">Nombre d'enfant(s)</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                                <option value=11>11</option>
                                <option value=12>12</option>
                                <option value=13>13</option>
                                <option value=14>14</option>
                                <option value=15>15</option>
                            </select>
                            <div class="invalid-feedback">
                                Veuillez sélectionner un champs.
                            </div>
                        </div>
                        <div>
                            Assurances : <br />
                            <input type="checkbox" id="AssuAnnuC" /> Annulation <br />
                            <input type="checkbox" id="AssuVols" /> Vols <br />

                        </div><br />
                        <button onclick="add()">Calculer</button><br /><br />




                        <h3> Prix total : resultat </h3>
                        <a href="#" class="btn btn-warning">Réservation</a>

                    </td>

                </tr>
            }

        }
    </table>
</div>

<!-----------------------------------------
//Calcul
------------------------------------------->
<script>
    function add() {

        //nbre de places
        var nbAdult = Number($('#NbPlace1').val());
        var nbEnfant = Number($('#NbPlace2').val());
        var prix = Number(document.getElementById("prix").innerHTML);
        alert(prix);

        //calcul
        var sum = nbAdult * prix + nbEnfant * prix * 0.60;
        alert(sum);

        //assurances
        var AssuAnnu = false;
        if (document.getElementById("AssuAnnuC").checked == true) { AssuAnnu = true };

        var AssuVols = false;
        if (document.getElementById("AssuVols").checked == true) { AssuVols = true };

        // recup idvoyage
        // var idvoyage = window.location.search;
        var idvoyage = '23a4b802-dcfd-4735-8a01-325b65b8ea40'



        //Prix unitaire
        /*var prixUnit = 0;
        $.ajax({
            type: 'GET',
            url: window.location.origin + "/api/Voyages/?lieu=PrixVenteUnitaire&txtlieu=" + idvoyage,
            datatype: 'application/json',
            contentType: 'application/json',
            success: function (data, status) {
                if (status == "success") {
                    alert(data);
                    prixUnit = data;

                }
            },
            error: function (xhr, status, error) {
                alert("error");
            }
        });
        alert(prixUnit);*/


        //document.getElementById("sum").value = sum;

        //alert("Adulte=" + nbAdult + ", enfant=" + nbEnfant + "Annu=" + AssuAnnu + "Vols=" + AssuVols);
    }
</script>
