@model List<BoVoyage.Scenario1.Dal.ItemPanier>

@{
    ViewBag.Title = "Panier";
}

@if (Model == null)
{
    <h3>Le panier est vide</h3>

    @Html.ActionLink("Retour Accueil", "Index")
}

else
{
    <h2>Votre panier contient</h2>
    foreach (var v in Model)
    {
        <hr />
        <p>Voyage : @v.voyage.Libelle | Nombre voyageurs : @v.nombre_voyageurs (dont @v.nombre_enfants enfants) | Assurance : @v.assurance</p>
    }
    @Html.ActionLink("Continuer Mes achats", "Index")
    <br />
    @Html.ActionLink("Valider et Payer", "ValiderPanier")
}
@*<table>
        <thead>
            <tr>
                <th>Voyage</th>
                <th>Nombre de voyageurs</th>
                <th>Prix Unitaire</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LignePaniers)
            {
                <tr>
                    <td>@item.Montant()</td>


                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">TOTAL</td>
                <td>@Model.</td>
            </tr>
        </tfoot>
    </table>*@
